/* Space out content a bit */
body {
  padding-top: 100px;
  padding-bottom: 20px;
  padding-left:150px;
  padding-right:150px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
    padding:80px;
    background-image:url('http://goo.gl/04j7Nn');
  }
}

.navbar-brand{
  height:100px;
  width:315px;
  padding:0px;
}

.navbar-brand p{
  position:relative;
  top:-85px;
  left:100px;
  color: #990000;
  font-size: 36px;
  padding-left: 20px;
  padding-right: 20px;
}



.navbar{
  background-color: #050505;
  margin-bottom: 0px;

}

.navbar-default .navbar-nav{
  position:relative;
  margin-top:20px;;
}

.navbar-default .navbar-nav > li{
  margin-left:20px;
  margin-right: 20px;
}

.navbar-default .navbar-nav > li > a {
  color: #990000;
  font-size: 28px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #777777;
}

.navbar-fixed-top {
    top: 0px;
    border-width: 0px 0px 0px;
}

.row.marketing .col-lg-4 > img{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.dropdown-menu{
  background-color: #999999;
}

.about-content{
  margin-left:500px;
}
